<h1>シフトの変更・削除</h1>

<%= form_for @shift do |f| %>
  <%= f.label :"希望するシフトを選択する" %><br>
  <%= f.select :shift_time_id, [["19:30-23:30", 13],["19:30-24:00", 14],["20:00-23:30", 15],["20:00-24:00", 16],["20:30-23:30", 17],["20:30-24:00", 18],["21:00-23:30", 19],["21:00-24:00",20]]%>
  <%= f.submit "変更する" %>
<% end %>
